$color-primary:#fff;
$text-primary:#777777;
$icons-color:#56d600;
$background-color:#222;

@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap);
